*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: "Montserrat", Arial, sans-serif;
}
#header-nav{
    background-color: #605fa1;
    border: 0;
}
.navbar-brand h1{
    color: #fff;
    padding: 5px 0px;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
button.navbar-toggler{
    border: 1px solid #fff
}
.navbar-light .navbar-toggler-icon {
    background-image: none;
}
.navbar-toggler-icon{
    height: auto;
    width: auto;
}
.navbar-light .navbar-toggler {
    border-color: white;
    padding: 5px 8px;
}
span.navbar-toggler-icon > i{
    color: white;
}
#primero, #segundo, #tercero{
    text-align: center;
    color: #fff;
}
#main-title{
    font-size: 30px;
    padding: 5px 0px;
    margin-bottom: 40px;
}
#chicken{
    background: #aedbff;
    padding: 25px;
}
#chicken h2{
    font-size: 22px;
    margin-bottom: 20px;
}
@media (min-width: 992px) and (max-width: 1200px){
    
}
@media (min-width: 769px) and (max-width: 991px){
    .container{
        position: relative;
    }
    .navbar-brand{
        position: absolute;
        left: 0;
    }
}
@media (max-width: 768px){
    .navbar-brand{
        margin-right: 50%;
    }
}